@import "../animations/label-animation.css";
.regestry__panel--repassword input, .regestry__panel--password input, .regestry__panel--username input {
  font-family: "Syne", sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid fuchsia;
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
}
@media (min-width: 230px) and (max-width: 480px) {
  .regestry__panel--repassword input, .regestry__panel--password input, .regestry__panel--username input {
    width: 80%;
  }
}

.regestry__panel--button button {
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
}

.regestry {
  font-family: "Syne", sans-serif;
  text-align: center;
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  height: 100%;
  width: 100vw;
}
.regestry__title {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 230px) and (max-width: 480px) {
  .regestry__title {
    padding-top: 1.5rem;
    height: auto;
    gap: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 960px) {
  .regestry__title {
    height: 23vh;
    padding-top: 1rem;
    gap: 0.5rem;
  }
}
.regestry__title h2 {
  font-size: 4rem;
}
@media (min-width: 230px) and (max-width: 480px) {
  .regestry__title h2 {
    font-size: 2rem;
  }
}
@media (min-width: 480px) and (max-width: 960px) {
  .regestry__title h2 {
    font-size: 2.5rem;
  }
}
.regestry__title p {
  font-size: 1rem;
}
.regestry__title--close {
  position: absolute;
  right: 4%;
  top: 2.5%;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.4s;
}
@media (min-width: 230px) and (max-width: 480px) {
  .regestry__title--close {
    font-size: 2rem;
    right: 2%;
    top: 1%;
  }
}
.regestry__title--close:hover {
  color: red;
  transform: rotate(360deg) scale(1.5);
}
.regestry__panel {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
}
@media (min-width: 230px) and (max-width: 769px) {
  .regestry__panel {
    height: 80vh;
  }
}
@media (min-width: 769px) and (max-width: 960px) {
  .regestry__panel {
    height: 70vh;
    justify-content: space-between;
  }
}
.regestry__panel--button button {
  -webkit-animation-name: out;
          animation-name: out;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}
.regestry__panel--button button:hover {
  -webkit-animation-name: btn;
          animation-name: btn;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.regestry__panel--button button:active {
  transform: scale(0.9);
  transition-duration: 100ms;
}

label {
  position: relative;
}

@-webkit-keyframes btn {
  from {
    background-color: transparent;
    box-shadow: none;
  }
  to {
    background-color: gold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

@keyframes btn {
  from {
    background-color: transparent;
    box-shadow: none;
  }
  to {
    background-color: gold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}
@-webkit-keyframes out {
  from {
    background-color: gold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  to {
    background-color: transparent;
    box-shadow: none;
  }
}
@keyframes out {
  from {
    background-color: gold;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  to {
    background-color: transparent;
    box-shadow: none;
  }
}/*# sourceMappingURL=regestry.css.map */